 <br>
<header>
    <div class="container">
        <div class="row ">
           <div class="col-xs-12 col-sm-5 col-sm-offset-1">
             <h1>Proyectos Marketing</h1>
             
           </div>
        </div>
    </div>
        <br>
 </header>
     <br>
<div class="productos">
	<div class="row centrado">
		<div class="col-md-4 col-sm-4  product">
			<div class="card">
				<img src="/assets/img/Hamburguesa.png" alt="">
				<h3>Hamburguesa</h3>
				<p>$109.00</p>
				<a type="button" class="btn btn-primary" href="/marketing" >Comprar</a>
			</div>
		</div>
		<div class="col-md-4 col-sm-4  product">
			<div class="card">
				<img src="/assets/img/Tacos.png" alt="">
				<h3>Tacos</h3>
				<p>$100.00</p>
				<a type="button" class="btn btn-primary" href="/marketing">Comprar</a>

			</div>
		</div>
		<div class="col-md-4 col-sm-4  product">
			<div class="card">
				<img src="/assets/img/Papas.png" alt="">
				<h3>Papas fritas</h3>
				<p>$80.00</p>
				<a type="button" class="btn btn-primary" href="/marketing">Comprar</a>
			</div>
			<br>
		</div>

	</div>
</div>