<br>
<br>
<br>

<div class="container">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Beneficio Social</h2>
        <p class="lead">En esta sección estarán disponibles los proyectos que puedes apoyar para el Beneficio de quiénes lo necesitan.</p>
         <a type="button" class="btn btn-primary" href="/beneficio">Entrar!</a>
      </div>

      <div class="col-md-5">
        <img src="/assets/img/cruz.png" alt="">
      </div>
      
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">P-1000</h2>
        <p class="lead">En esta sección encontrarás los proyectos ó productos que están apoyando al servicio social (P-1000)</p>
        <a type="button" class="btn btn-primary" href="/servicio" >Entrar!</a>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/assets/img/caritas.png" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Marketing</h2>
        <p class="lead">en esta sección encontras los proyectos de la clase de Marketing</p>
        <a type="button" class="btn btn-primary" href="/marketing">Entrar!</a>
      </div>
      <div class="col-md-5">
        <img src="/assets/img/marketing.png" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->