 <br>
<header>
    <div class="container">
        <div class="row ">
           <div class="col-xs-12 col-sm-5 col-sm-offset-1">
             <h1>Servicio Social(P-1000)</h1>
             
           </div>
        </div>
    </div>
        <br>
 </header>
     <br>
<div class="productos">
	<div class="row centrado">
		<div class="col-md-4 col-sm-4  product">
			<div class="card">
				<img src="/assets/img/Sillaton3.png" alt="">
				<h3>Sillaton</h3>
				<p>$10.00</p>
				<a type="button" class="btn btn-primary" href="/servicio">Apoyar</a>
			</div>
		</div>
		<div class="col-md-4 col-sm-4  product">
			<div class="card">
				<img src="/assets/img/caritas.png" alt="">
				<h3>Cáritas</h3>
				<p>$10.00</p>
				<a type="button" class="btn btn-primary" href="/servicio" >Apoyar</a>

			</div>
		</div>
		<div class="col-md-4 col-sm-4  product">
			<div class="card">
				<img src="/assets/img/navidad.png" alt="">
				<h3>Navidad U-erre</h3>
				<p>$10.00</p>
				<a type="button" class="btn btn-primary" href="/servicio" >Apoyar</a>

			</div>
			<br>
		</div>

	</div>

</div>