<!--<div class="card m-3">
    <h5 class="card-header">New Project</h5>
    <div class="cart-body">
        <form [formGroup]="newProject">
            <div class="form-group col-5">
                <label>Project Name</label>
                <input type="text" formControlName="projectName" class="form-control">
            </div>
            <div class="form-group col-5">
                <label>Schema</label>
                <input type="text" formControlName="projectSchema" class="form-control">
            </div>
            <div class="form-group col-5">
                <label>Description</label>
                <input type="text" formControlName="projectDescription" class="form-control">
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Create Project</button>
            </div>
        </form>
    </div>
</div>-->