  <!-- Main jumbotron for a primary marketing message or call to action -->
  <br>
  <br>
    <header>
        <div class="container">
          <div class="row ">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
             <h1>¡Bienvenido! a JonAxProjet's</h1>
             <h4 style="text-align: justify;">JonAxProject's es una plataforma que permite ayudar a los estudiantes con proyectos tetrametrales a recaudar fondo. Sin importar si el dinero recaudado es para sí mismo o para una causa. Con esta plataforma se pretende dar más auge a lo que se necesita vender</h4>
            <a routerLink="/sign-in" class="btn btn-primary btn-lg">Registrarse</a>
            </div>
          </div>
        </div>
        <br>
     </header>
     <br>
  <div class="container">
      <div class="row centrado">
        <div class="col-md-4 col-sm-4 ">
          <img class="img-circle" src="/assets/img/somos.png" width="100px" >
            <h4 class="text-bold">¿Quiénes Somos?</h4>
            <p style="text-align: justify;">Somos alumnos de 9° Tetramestre de la carrera de Ing. Tecnologías Computacionales, este proyecto fue elaborado para la clase de Estrategia de Negocios Electrónicos, con la finalidad de implementar un e-commerce, la idea fue pensada como una mejora para las Clases de proyectos y Marketing.
            </p>
        </div>

        <div class="col-md-4 col-sm-4 ">   
          <img class="img-circle" src="/assets/img/pregunta.png" width="100px">
            <h4 class="text-bold">Misión</h4>
            <p style="text-align: justify;">Dar servicio a proyectos institucionales o personalizados para el incremento de sus ventas por medio de una aplicación web. La cual pueda proporcionar sistemas de pagos y envíos de los productos
            </p>
        </div>

        <div class="col-md-4 col-sm-4 ">
          <img class="img-circle" src="/assets/img/informacion.png" width="100px">
            <h4 class="text-bold">Visión</h4>
            <p style="text-align: justify;">Ser la aplicación web más usada para proyectos dentro de las instalaciones y campus U-ERRE.
            </p>
          </div>
    </div>
  </div>